#login{
  justify-content: center;
  margin-top: 300px;
}

#header{
display: flex;
justify-content: space-around;
}

#nameLogin{
  color: whitesmoke;
}

#inputSearch{
  width: 400px;
  justify-content: center;
  margin-top: 200px;
  margin-left: 550px;
}

#music{
  color:whitesmoke;
}

#albumSelect{
  color:whitesmoke;
}
